@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
}

body{
background-image: linear-gradient(to bottom,#275950,#2A8C82);
background-attachment: fixed;
}
main{
    background-color:#41BFB3 ;
    margin: auto;
    width: 600px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px #260101d5 ;
}

h1{
    text-align: center;
    color: #610303
}
h2{
    color:#275950 ;
}