

body{
    background-image: linear-gradient(to top,#1C1644,#B3568A,#D190D9 );
    background-attachment: fixed; 
}
.centro{
    text-align: center;
}

.fontsize{
    font-size: 20px;
}

.margin {
    margin: 5px 5px 10px 23px;

  }

  
  
    